* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@1,800&display=swap');

/* header */

.navbarResolution{
    display: block;
}
.imgClass img {
    height: 3.75rem;
    width: 3.75rem;
    margin-left: 1.25rem;
}
.navClass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #181818;
    padding: .875rem 0rem;
    width: 100%;
    word-spacing: 1.25rem;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navBar{
    display: flex;
    list-style: none;
    gap: .625rem;
    padding-top: .625rem;
}
.navBar ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.0625rem;
    font-weight: bold;
}
.navBar li a:hover{
    color: darkcyan;
}
.navBar2{
    display: flex;
    list-style: none;
    gap: 1.25rem;
    padding: 0rem 1.25rem;
}
.navBar2 li a{
    text-decoration: none;
}

/* main */

.carruselClass{
    margin: 1.25rem;
}
.h1Class {
    padding-top: 6.25rem;
    text-align: center;
    color: #181818;
}
.galeriaClass{
    display: block;
}
.galeria {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(3, 12.5rem);
    grid-template-areas:
        "img2 img4 img3 img3 img1"
        "img5 img5 img3 img3 img1"
        "img5 img5 img3 img3 img1"
    ;
}
.item1 {
    grid-area: img1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.item2 {
    grid-area: img2;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.item3 {
    grid-area: img3;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.item4 {
    grid-area: img4;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.item5 {
    grid-area: img5;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.cardSection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: .5s;
}
.card:hover{
    background-color: #18181833;
    transform: scale(0.9);
}
.card{
    width: 21.875rem;
    height: 25rem;
    margin: 2.5rem;
    border-radius: 10%;
    overflow: hidden;
    box-shadow: .125rem .125rem .3125rem grey;
}
.card div{
    width: 100%;
    height: 18.75rem;
    object-fit: contain;
}
.card div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardContent{
    width: 21.875rem;
    height: 25rem;
    margin: 2.5rem;
    border-radius: 10%;
    overflow: hidden;
    box-shadow: .125rem .125rem .3125rem grey;
}
.cardContent div {
    width: 100%;
    height: 18.75rem;
    object-fit: cover;
}
.cardContent div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cardH2{
    list-style: none;
    display: flex;
    justify-content: center;
    color: #181818;
    font-size: 2.1875rem;
    font-weight: bold;
}
.cardA{
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    color: #181818;
}
.cardA:hover{
    color: dodgerblue;
}
.articleClass {
    padding: 1.25rem 1.25rem;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    padding: .875rem 0rem;
}
.subClass{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 1rem;
    color: white;
    font-size: .75rem;
}
.subClass h2{
    font-size: 1rem;
    font-weight: bold;
}
.redClass{
    display: flex;
    justify-content: center;
    list-style: none;
}
.articleClass{
    display: flex;
    color: white;
    text-decoration: none;
    list-style: none;
}
.articleClass li h2{
    font-size: 1rem;
}
.footerEnd{
    color: white;
    font-weight: bold;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}
.footerEnd p a{
    text-decoration: none;
}

/* Media Aquaris */

@media (max-width: 1440px) {
    /* header x 1024px */
        .navbarResolution{
            display: none;
        }
    /* main x 1024px */
    /* footer x 1024px */
    }

@media (max-width: 1024px) {
/* header x 1024px */
    .navbarResolution{
        display: none;
    }
/* main x 1024px */
/* footer x 1024px */
}

@media (max-width: 768px) {
    /* header x 768px */
    .navBar{
        gap: .4375rem;
    }
    .navBar ul li a{
        font-size: 14px;
    }
    /* main x 768px */
    .galeriaClass{
        display: none;
    }
    /* footer x 768px */
    .footerEnd{
        font-size: .625rem;
    }
}

@media (max-width: 425px) {
    /* header x 425px */
    .navbarResolution{
        display: block;
    }

    /* main x 425px */
    .galeriaClass{
        display: none;
    }
    /* footer x 425px */
}