.navBar{ 
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    ul{
        list-style: none;
        display: flex;
        gap: .9375rem;
        li{
            a{
                text-decoration: none;
                color: map-get($color, blanco);
                font-size: 1.0625rem;
                font-weight: bold;
                &:hover{
                    color: map-get($color, azul);
                }
            }
        }
    }
    div{
        @extend .navBar;
        gap: 1.25rem;
        padding: .9375rem 1.25rem 0px 0px;
        ul{
        display: flex;
        align-items: center;
        list-style: none;
        gap: 1.25rem;
        padding: .9375rem 1.25rem 0px 0px;
        li{
            a{
                text-decoration: none;
                list-style: none;
            }
        }
        }
    }
}