.cardSection{
    @include flex(row, wrap, space-around,none, none);
    transition: .90;
}

.card{
    width: 21.875rem;
    height: 25rem;
    margin: 2.5rem;
    border-radius: 15%;
    overflow: hidden;
    box-shadow: .25rem .25rem .4375rem grey;
    &:hover{
        background-color: rgb(44, 44, 44);
        transform: scale(0.9);
    }
    h2{
        list-style: none;
        display: flex;
        justify-content: center;
        color: map-get($color, negro);
        font-size: 2.1875rem;
        font-weight: bold;
        cursor: pointer;
    }
    a{
        display: flex;
        justify-content: center;
        list-style: none;
        text-decoration: none;
        color: map-get($color, negro);
        &:hover{
            color: map-get($color, azul);
        }
    }
    div{
        width: 100%;
        height: 18.75rem;
        object-fit: contain;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.cardContent{
    width: 21.875rem;
    height: 25rem;
    margin: 2.5rem;
    border-radius: 10%;
    overflow: hidden;
    box-shadow: .125rem .125rem .3125rem grey;
    div{
        width: 100%;
        height: 18.75rem;
        object-fit: cover;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}